.bord{
    height: 200px;
    width: 100%;
    background-color: #80deea;
    margin: 10px auto;
}

.emptyBoard{
    height: 200px;
    width: 100%;
    background-color: transparent;
}

#mainBord1, #mainBord4{
    width: 30% !important;
}

.selectButton{
    margin: 72px;
}

.rollButton{
    margin: 30px;
}